@import '../../mixins';
@import '../../variables';

.login{
    @include flex-align(column, center, center, wrap);

    .login-container{
        @include flex-align(column, center, center, wrap);
        transform: translateY(calc(50vh - 50% - 6rem)); 
        // -6rem = height of nav bar (div initial position is right bellow nav bar)
    }
    .login-header{
        color:$accent-color-2;
        font-size: 2.2rem;
        margin: 3.5rem 2rem;
        text-align: center;
    }
}