@import '../../variables';
@import '../../mixins';

.landing{
    //FIRST PAGE
    .landing-1{
        height: 100vh;
        background-image: url("../../images/cover1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        position: relative;

        .landing-1-container{
            margin: 10rem 15rem;
        }
        .landing-1-heading{
            font-size: 5rem;
            color:white;
        }
        .landing-1-punchline{
            font-size: 5rem;
            color:$text-color;
            font-weight: bold;
            margin: 6rem 0rem;
            transition:0.3s;
            opacity: 0;
        }
        .landing-1-get-apps{
            position:absolute;
            bottom:2rem;
            left:15rem;
        }
        .landing-label{
            font-size:3rem;
            color:$text-color;
            margin-top:10rem;
        }
        .landing-input{
            padding:2rem 1rem;
            width:50rem;
            margin:1rem 0rem;
            border:0;
        }
        .landing-1-button{
            background-color:inherit;
            color:$text-color;
            font-size:2rem;
            font-weight: bold;
            width:12rem;
            border:0.2rem solid $text-color;
            margin:0.8rem;
            padding:0.8rem;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                background-color:$text-color;
                color:white;
            }
        }
    }
    //SECOND PAGE
    .landing-2{
        height:100vh;
        background-image: url("../../images/cover2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        .landing-2-container{
            @include flex-align(row, center, center, wrap);
            position:absolute;
            top:150vh;
            left:50vw;
            transform: translate(-50%, -50%);
        }
        .landing-2-button{
            background-color: $accent-color;
            color:white;
            width:30rem;
            font-size: 2rem;
            padding:1.8rem;
            margin:1rem;
            text-decoration:none;
            text-align: center;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                background-color: $accent-color-2;
            }
        }
    }
}
@include mobile-range{
    .landing{
        .landing-1{
            background-image:none;
            .landing-1-container{
                margin:0;
                text-align: center;
                transform: translateY(calc(50vh - 50% - 6rem));
            }
            .landing-1-heading{
                display:none;
            }
            .landing-input{
                width:100vw;
            }
            .landing-1-punchline{
                font-size:3rem;
                margin:0;
                margin-bottom:3rem;
            }
        }
    }
}
