@import '../../variables';

.landing{
    text-align: left;

    .landing-box{
        margin: 10rem 15rem;
    }
    .landing-heading{
        font-size: 5rem;
        color:white;
    }
    .landing-punchline{
        font-size: 4rem;
        color:$accent-color-2;
        margin: 6rem 0rem;
        transition:0.3s;
        opacity: 0;
    }
    .button-landing{
        background-color:inherit;
        color:$accent-color;
        font-size:2rem;
        font-weight: bold;
        width:12rem;
        border:0.2rem solid $accent-color;
        margin:0.8rem;
        padding:0.8rem;
        cursor: pointer;
        transition: 0.2s;
        animation:button-glow 4s infinite;
        &:hover{
            background-color:$accent-color;
            color:white;
        }
    }
    @keyframes button-glow {
        
    }
    .landing-get-apps{
        position:absolute;
        left:16rem;
        bottom:6rem;
    }
}