@import '../../variables';
@import '../../mixins';

.landing{
    .landing-1{
        height: 100vh;
        width:100%;
        @include flex-align(column, flex-start, flex-start, nowrap);
        background-image: url("../../images/cover1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        position: relative;

        .landing-1-container{
            margin-left:5rem;
            margin-top:10rem;
        }
        .landing-1-heading{
            font-size: 4.5rem;
            color:white;
        }
        .landing-1-punchline{
            font-size: 4rem;
            color:$text-color;
            font-weight: bold;
            margin: 6rem 0rem;
            transition:0.3s;
            opacity: 0;
        }
        .landing-1-get-apps{
            position:absolute;
            bottom:10rem;
            left:5rem;
            text-align: center;
        }
    }
    //SECOND PAGE
    .landing-2{
        height:100vh;
        width:100%;
        background-image: url("../../images/cover2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        .landing-2-container{
            @include flex-align(row, center, center, wrap);
            position:absolute;
            top:150vh;
            left:50vw;
            transform: translate(-50%, -50%);
        }
        .landing-2-button{
            background-color: $accent-color;
            color:white;
            width:30rem;
            font-size: 2rem;
            padding:1.8rem;
            margin:1rem;
            text-decoration:none;
            text-align: center;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                background-color: $accent-color-2;
            }
        }
    }
}
@include mobile-range{
    .landing{
        .landing-1{
            @include flex-align(column, center, center, nowrap);
            background-image:none;
            .landing-1-container{
                margin:0;
            }
            .landing-1-heading{
                display:none;
            }
            .landing-1-get-apps{
                width:80vw;
                bottom:2rem;
                left:0;
                right:0;
                margin-left:auto;
                margin-right: auto;
            }
            .landing-1-punchline{
                font-size:3rem;
                margin:0;
                margin-bottom:3rem;
                text-align: center;
            }
        }
    }
}
