@import '../../variables';
@import '../../mixins';
.meal{
    @include flex-align(row, flex-start, flex-start, nowrap);
    background-color:white;
    width:60rem;
    margin: 1rem 0rem;
    transition: 0.2s;
    
    .meal-left-container{
        font-size: 0;
        position: relative; //in order to darkened div for closed restaurant be absolute
    }
    .meal-right-container{
      width:30rem;
      padding:0rem 0.5rem;
      height:30rem;
    }
    .meal-header{
        @include flex-align(row, space-between, flex-start, wrap);
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .meal-name{
        width:78%;
        color:$accent-color;
        font-size:2.2rem;
    }
    .meal-price{
        color:$text-color;
        font-size: 2.2rem;
        font-weight: bold;
    }
    .meal-photo{
        border-radius: 0.8rem 0rem 0rem 0.8rem;
        width: 30rem;
        height: 30rem;
        cursor: pointer;
    }
    .meal-photo-darkened{
        @extend .meal-photo;
        position:absolute;
        top:0;
        left:0;
        background-color: black;
        opacity: 0.6;
    }
    .meal-closed-label{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color:white;
    }
    .meal-restaurant-name, .meal-see-menu{
        color:$text-color;
        font-size:2.2rem;
        padding: 0.2rem;
        transition:0.2s;
        width:max-content;
        cursor: pointer;
        &:hover{
            color:$accent-color;
        }
    }
    .meal-restaurant-info{
        @include flex-align(row,space-between,flex-start,wrap);
    }
    .meal-delivery-label, .meal-working-hours-label{
        font-size: 1.8rem;
        color:rgba($text-color, 0.7);
    }
    .meal-delivery-minimum, .meal-working-hours{
        color:rgba($text-color, 0.7);
        font-size: 2.2rem;
    }
    .delivery-hours{
        font-size: 2.2rem;
    }
    .meal-tags{
        margin:1rem 0rem;
    }
    .meal-tag{
        display:inline-block;
        color:$tag-color;
        font-size:1.8rem;
        padding:0.2rem;
    }
    .meal-range{
        padding:0.5rem;
        margin:1rem 0.2rem;
    }
}
@include mobile-range{
    .meal{
        @include flex-align(column, stretch, flex-start, nowrap);
        width: 100%;
        height: max-content;
        .meal-right-container{
            width:100vw;
            height: max-content;
        }
        .meal-photo{
            width:100vw;
            height:100vw;
        }
        .meal-name{
            font-size: 2.6rem;
        }
        .meal-price{
            font-size:2.8rem;
        }
        .meal-tag{
            font-size: 2rem;
        }
    }
}
