@import '../../variables';
@import '../../mixins';
.meal{
    margin: 1rem 1rem;
    background-color: $wrapper-color;
    width:60rem;
    @include flexAlign(row, flex-start, flex-start, nowrap);
    .meal-right-container{
      width:30rem;
      padding:0rem 1rem;
    }
    .meal-header{
        @include flexAlign(row, space-between, flex-start, wrap);
        cursor: pointer;
    }
    .meal-name{
        width:80%;
        color:$accent-color;
        font-size:2rem;
    }
    .meal-price{
        color:$accent-color-3;
        font-size: 2.2rem;
    }
    .meal-photo{
        width: 30rem;
        height: 30rem;
        cursor: pointer;
    }
    .meal-restaurant-name{
        color:$success-color;
        font-size:2.2rem;
        margin: 1rem 0rem;
        padding: 0.2rem;
        transition:0.2s;
        width:max-content;
        cursor: pointer;
        &:hover{
            color:white;
            background-color: $accent-color;
        }
    }
    .meal-see-menu{
        font-size: 1.8rem;
        color:$accent-color;
        transition:0.2s;
        padding:0.2rem 0rem;
        width:max-content;
        cursor: pointer;
        &:hover{
            color:$success-color;
        }
    
    }
    .meal-delivery-tags{
        @include flexAlign(row,space-between,flex-start,wrap);
    }
    .meal-delivery-tag{
        margin:0;
        padding:0;
        font-size: 1.8rem;
        color:$accent-color;
    }
    .meal-delivery-tag-minimum{
        @extend .meal-delivery-tag;
        font-size: 2.2rem;
    }
    .meal-tags{
        margin-top:1rem;
    }
    .meal-tag{
        display:inline-block;
        color:$accent-color;
        font-size:1.8rem;
        margin:0.1rem;
        padding:0.2rem;
    }
    .meal-range{
        padding:0.5rem;
        margin:1rem 0.2rem;
    }
}
@media (max-width: 760px){
    .meal{
        @include flexAlign(column, center, center, nowrap);
        width: 30rem;
    }
}
