@import '../../mixins';
@import '../../variables';

.forgotten-password{
    @include flexAlign(column, center, center, wrap);
    .forgotten-password-container{
        width: 30rem;
        padding:2rem;
        background-color: $wrapper-color;
        transform: translateY(calc(50vh - 50% - 6rem));
    }
   
}