@import '../../mixins';
@import '../../variables';

.verify-account{
    @include flexAlign(column, center, center, wrap);
    .verify-account-container{
        padding:2rem;
        background-color: $wrapper-color;
        transform: translateY(calc(50vh - 50% - 6rem));
    }
}