@import '../../mixins';
@import '../../variables';
.cart{
    @include flexAlign(column, center, center, nowrap);
    .cart-container{
        @include flexAlign(row,center,flex-start,wrap);
        margin:1rem;
        padding:2rem;
        background-color:$wrapper-color;
    }
    .cart-meal{
        margin: 0.4rem;
        padding: 1rem;
        background-color: $accent-color;
        transition: 0.2s;
    }
    .cart-meal-header{
        @include flexAlign(row,space-between, center, wrap);
        color:white;
        font-size:1.8rem;
    }
    .cart-meal-x{
        background-color: $accent-color-2;
        color:white;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.2rem 0.6rem;
        margin: 0.2rem;
        cursor: pointer;
        transition: 0.2s;
        outline:none;
        &:hover{
            background-color: white;
            color:$accent-color-2;
        }
    }
    .cart-notes-button{
        background-color: inherit;
        color:$accent-color-2;
        font-size: 1.8rem;
        text-decoration: underline;
        cursor: pointer;
        outline:none;
        &:hover{
            color:white;
        }
    }
    .cart-meal-photo{
        width:18rem;
        height:18rem;
    }
    .cart-restaurant-name{
        font-size: 1.8rem;
        font-weight: bold;
        color:$accent-color-2;
        padding: 0.4rem 0.2rem;
        width:max-content;
        transition:0.2s;
        cursor: pointer;
        &:hover{
            background-color: $accent-color-2;
            color:white;
        }
    }
    .cart-no-meals{
        @include flexAlign(column,center,center,wrap);
    }
    .cart-total{
        @include flexAlign(column,center,center,wrap);
        background-color: $wrapper-color;
        padding:1rem;
    }
    .cart-notes-accordion{
        background-color: $accent-color;
        color:white;
        font-size:1.8rem;
        position:absolute;
        width:20rem;
        border-top: 0.2rem solid white;
        padding:1rem;
    }
}