@import '../../mixins';
@import '../../variables';
.cart{
    @include flex-align(column, center, center, nowrap);
    .cart-meals-container{
        margin-bottom:16rem;
    }
    .cart-meal{
        @include flex-align(row, flex-start, flex-start, nowrap);
        width:45rem;
        margin: 0.4rem 0rem;
        background-color: $wrapper-color;
        transition: 0.2s;
    }
    .cart-meal-photo{
        width:50%;
        height:auto;
    }
    .cart-restaurant-name{
        font-size: 1.8rem;
        font-weight: bold;
        color:$accent-color;
        padding: 0.4rem 0.2rem;
        transition:0.2s;
        cursor: pointer;
        &:hover{
            background-color: $accent-color;
            color:$accent-color-2;
        }
    }
    .cart-notes{
        font-size: 1.8rem;
        font-weight: bold;
        color:$accent-color;
        padding: 0.4rem 0.2rem;
        cursor: pointer;
        &:hover{
            color:$accent-color-2;
        }
    }
    .fa-plus, .fa-minus{
        background-color: white;
    }
    .fa-house-user{
        color:$accent-color-3;
        margin:0rem 0.5rem;
    }
    .cart-no-meals{
        @include flex-align(column,center,center,wrap);
        transform: translateY(calc(50vh - 50% - 6rem));
    }
    .cart-total{
        @include flex-align(column,center,center,wrap);
        position: fixed;
        bottom:0;
        background-color: rgba($color: $accent-color, $alpha: 0.9);
        width:100vw;
        padding:1rem;
        border-radius: 0;
    }
    .cart-total-label{
        font-size:3rem;
        color:$accent-color-3;
        font-weight: bold;
        margin:0.5rem 0rem;
    }
    .cart-checkout-button{
        background-color: $accent-color-3;
    }
}
@include mobile-range{
    .cart{
        .cart-meal{
            width:100vw;
        }
    }
}