@import '../../mixins';
@import '../../variables';
.cart{
    @include flex-align(column, center, center, nowrap);
    .cart-meals-container{
        margin-bottom:15rem;
    }
    .cart-meal{
        @include flex-align(row, flex-start, flex-start, wrap);
        margin: 0.4rem 0rem;
        background-color: white;
        transition: 0.2s;
    }
    .cart-meal-info{
        width:40rem;
        padding:1.5rem;
    }
    .cart-meal-header{
        width:100%;
        @include flex-align(row,space-between, flex-start, nowrap);
    }
    .cart-meal-name{
        width:65%;
        color:$text-color;
        font-size: 2rem;
        font-weight: bold;
    }
    .cart-meal-price{
        color:$accent-color;
        font-size: 2rem;
        font-weight: bold;
    }
    .cart-meal-photo{
        width:27rem;
        height:27rem;
        height:auto;
    }
    .cart-restaurant-name{
        font-size: 1.8rem;
        color:$text-color;
        padding: 0.4rem 0.2rem;
        margin: 1.2rem 0rem;
        transition:0.2s;
        cursor: pointer;
        &:hover{
            color:$accent-color-2;
        }
    }
    .cart-meal-notes{
        color:$text-color;
        font-size: 1.8rem;
        margin:1rem 0rem;
    }
    .fa-house-user{
        color:$accent-color;
        margin:0rem 0.5rem;
    }
    .cart-no-meals{
        @include flex-align(column,center,center,wrap);
        transform: translateY(calc(50vh - 50% - 6rem));
    }
    .cart-total{
        @include flex-align(column,flex-start,center,wrap);
        position: fixed;
        top:6rem;
        left:0;
        height: 100vh;
        background-color: white;
        width:20vw;
        padding:6rem 1rem;
        border-radius: 0;
    }
    .cart-total-label{
        font-size:3rem;
        color:$text-color;
        font-weight: bold;
        margin:0.5rem 0rem;
    }
    .cart-checkout-button{
        background-color: $accent-color-2;
    }
    .cart-black-container{
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.6;
    }
    .cart-meal-amount{
        font-size:2rem;
        padding:0.8rem;
    }
    .fa-plus, .fa-minus{
        margin:0rem 0.4rem;
    }
    .fa-edit{
        margin:0;
        padding:0rem 1.5rem;
    }
}
@include mobile-range{
    .cart{
        .cart-meal-photo{
            width:50vw;
            height: 50vw;
        }
        .cart-meal-info{
            width:50vw;
            padding:0.2rem
        }
        .cart-total{
            height: max-content;
            width: 100vw;
            top:inherit;
            bottom:0;
            padding:0.6rem;
        }
        .cart-meal-name, .cart-meal-price{
            font-size: 1.8rem;
        }
    }
}