@import '../../mixins';
@import '../../variables';

.profile{
    @include page-container;
    .profile-container{
        margin-top:$nav-bar-height / 2;
        text-align: center;
        .profile-container-header{
            color:$text-color;
            font-size:2.4rem;
            margin:1rem 0rem;
            text-align: center;
        }
    }
    .profile-info{
        @include flex-align(column,center,flex-start,nowrap);
        background-color:white;
        width:60rem;
        margin: 1rem 0rem;
        padding: 1rem;
    }
    .profile-header-small{
        @extend .profile-container-header;
        font-size: 2rem;
    }
    .profile-new-address{
        margin: 1.2rem 0rem;
        width:100%;
    }
    .profile-address-row{
        width:100%;
        @include flex-align(row,space-between, center, nowrap);
    }
    .profile-address-description{
        margin-top:1rem;
    }
    .fa-trash{
        color:$danger-color;
        cursor: pointer;
        &:hover{
            color: $accent-color-2;
        }
    }
}
@include mobile-range{
    .profile{
        .profile-info{
            width:100vw;
        }
    }
}