@import '../../mixins';
@import '../../variables';

.profile{
    @include flexAlign(column, center, center, wrap);
    .profile-container{
        @include flexAlign(column,center,flex-start,wrap);
        background-color:$wrapper-color;
        margin: 1rem;
        padding: 1rem;
    }
}