@import '../../mixins';
@import '../../variables';

.profile{
    @include flexAlign(column, center, center, wrap);
    .profile-container{
        transform: translateY(calc(50vh - 50% - 6rem));
        text-align: center;
        .profile-container-header{
            color:$accent-color-2;
            font-size:2.4rem;
            margin:1rem 0rem;
            text-align: center;
        }
    }
    .profile-info{
        @include flexAlign(column,center,flex-start,nowrap);
        background-color:$wrapper-color;
        width:60rem;
        margin: 1rem 0rem;
        padding: 1rem;
    }
    .profile-header-small{
        @extend .profile-container-header;
        font-size: 2rem;
    }
    .profile-new-address{
        margin: 1.2rem 0rem;
        width:100%;
    }
    .profile-address-row{
        width:100%;
        @include flexAlign(row,space-between, center, nowrap);
    }
    .profile-address-description{
        margin-top:1rem;
    }
    .fa-trash{
        color:$danger-color;
        cursor: pointer;
        &:hover{
            color: $accent-color-2;
        }
    }
}