@import '../variables.scss';
@import '../mixins.scss';

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-size:10px;
    font-family:$main-font;
    border-radius: 0.8rem;
}
body{
    background-image: url("../images/background.jpg");
}
.wrapper-container{
    background-color:$wrapper-color;
    padding:1rem;
    margin:1rem;
    &-big{
        @extend .wrapper-container;
        width:30rem;
    }
}
.form-container{
    background-color: $wrapper-color;
    padding:3rem;
}
.loader{
    width:8rem;
    height:8rem;
    margin:1rem;
}
.loader-small{
    width:1.5rem;
    height:1.5rem;
    margin:0.2rem;
}
.message-danger{
    color:$danger-color;
    font-size:2rem;
    margin:1rem;
}
.input-error{
    color:$danger-color;
    font-size:1.4rem;
    margin-top:0.5rem;
}
.message-success{
    color:$success-color;
    font-size:2rem;
    margin:1rem;
}
.modal{
    .modal-underlay{
        position:fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0;
    }
    .modal-container{
        position:fixed;
        background-color: white;
        width:35rem;
        left:50vw;
        top:50vh;
        transform: translate(-50%, -50%);
        opacity:0;
        transition:1.2s;
    }
    .modal-body{
        margin: 0.4rem;
        padding: 0.4rem;
    }
    .modal-header{
        border-radius: 0;
        @include flexAlign(row,flex-end,center,nowrap);
        background-color: $wrapper-color;
        .modal-x{
            background-color: $accent-color;
            color:white;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.4rem 0.8rem;
            margin: 0.4rem;
            margin-bottom:0.6rem;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                background-color: $accent-color-2;
            }
        }
    } 
}