@import '../variables.scss';
@import '../mixins.scss';

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-size:10px;
    font-family:$main-font;
    border-radius: 0.8rem;
    overflow-wrap: anywhere;
}
body{
    background-image: url("../images/background.jpg");
}
.wrapper-container{
    background-color:$wrapper-color;
    padding:1rem;
    margin:1rem;
    &-big{
        @extend .wrapper-container;
        width:30rem;
    }
}
.form-container{
    background-color: white;
    box-shadow: 0 0 1rem $wrapper-color;
    padding:3rem;
}
.loader{
    width:8rem;
    height:8rem;
    margin:1rem;
}
.loader-center{
    width:8rem;
    height:8rem;
    position:fixed;
    margin:auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
.loader-center-overlay{
    position: fixed;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.6);
    width:100vw;
    height:100vh;
}
.loader-small{
    width:1.5rem;
    height:1.5rem;
    margin:0.2rem;
}
.message-danger{
    color:$danger-color;
    font-size:2rem;
    margin:1rem;
}
.input-error{
    color:$danger-color;
    font-size:1.4rem;
    margin-top:0.5rem;
    text-align: left;
}
.message-success{
    color:$success-color;
    font-size:2rem;
    margin:1rem;
}
.flex-space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.fa-plus, .fa-minus{
    color:$accent-color;
    background-color: $wrapper-color;
    padding:0.4rem;
    margin-left:0.4rem;
    cursor: pointer;
}
.fa-edit, .fa-trash{
    color:$accent-color;
    margin:0.4rem;
    transition:0.2s;
    cursor: pointer;
    &:hover{
        color:$accent-color-2;
    }
}
.fa-times{
    color:white;
    background-color: $accent-color;
    padding:0.4rem 0.8rem;
    margin:0.4rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        background-color:$accent-color-2;
    }
}
.p-15{
    padding:1.5rem;
}
.pb-15{
    padding-bottom:1.5rem;
}
.pt-15{
    padding-top:1.5rem;
}
