@import '../variables.scss';
@import '../mixins.scss';

.button-link{
    background-color: transparent;
    color:$text-color;
    text-decoration: underline;
    margin:1rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    outline:none;
    transition: 0.4s;
    cursor: pointer;
    &:hover{
        color:$accent-color-2;
    }
}
.button-normal{
    width:max-content;
    background-color: $accent-color;
    padding:0.4rem 0.6rem;
    margin:1rem 0.6rem;
    color:white;
    font-size: 1.8rem;
    transition: 0.4s;
    cursor: pointer;
    &:hover{
        background-color: $accent-color-2;
    }
}
.button-normal-disabled{
    @extend .button-normal;
    background-color:$accent-color-2;
    pointer-events: none;
    cursor:none;
}
.button-for-input{
    @extend .button-normal;
    margin:0;
    height:3.3rem;
    min-width:8rem;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    font-size: 1.6rem;
}
.button-long{
    @extend .button-normal;
    width:100%;
    margin: 1rem 0rem;
    padding:0.8rem 1rem;
}
.button-long-disabled{
    @extend .button-long;
    background-color:$accent-color-2;
    pointer-events: none;
    cursor:none;
}
.button-small{
    @extend .button-normal;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin: 0.2rem;
}
.button-gray{
    background-color: gray;
    pointer-events: none;
    cursor:none;
    &:hover{
        background-color: gray;
    }
}
.input-icon{
    width:4rem;
    color:$text-color;
    font-size: 1.8rem;
    border-radius: 0;
    width:4.4rem;
    height:3.3rem;
    line-height: 3.2rem;
    text-align: center;
    border:$input-border;
    border-left:0;
    background-color: rgb(246, 246, 246);
    border-radius: 0;
    cursor: pointer;
}
.app-input{
    border:$input-border;
    width:100%;
    height:3.3rem;
    font-size: 1.6rem;
    padding: 0rem 1rem;
    transition:0.2s;
    &:focus{
        outline:none;
        box-shadow: $input-box-shadow;
    }
}
.app-input-with-icon{
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    &:focus{
        position: relative;
        z-index: 1; // in order to box-shadow go over icon
    }
}
.app-input-number{
    @extend .app-input;
    width:6rem;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.app-select, .app-option{
    width:100%;
    color:$text-color;
    font-size:1.6rem;
    padding:0.8rem;
    border:$input-border;
    &:focus{
        outline:none;
        box-shadow: $input-box-shadow;
    }
}
.app-textarea{
    @extend .app-input;
    height: 6rem;
    padding: 0.4rem 1rem;
    resize: none;
}
p{
    margin:0;
}
.label-white{
    font-size:1.8rem;
    color:white;
    margin-top:1rem;
    margin-bottom:0.2rem;
}
.label{
    @extend .label-white;
    color:$text-color;
}
.label-accent-color{
    @extend .label-white;
    color:$accent-color;
}
.label-accent-color-2{
    @extend .label-white;
    color:$accent-color-2;
}
.message-success{
    @extend .label-white;
    color:$success-color;
}
.get-app-icon{
    height:5.3rem;
    width:16rem;
}
.header-white{
    color:white;
    margin: 1rem 1rem;
    font-size: 3rem;
    text-align: center;
}
.header{
    @extend .header-white;
    color:$text-color;
}
.header-accent-color{
    @extend .header-white;
    color:$accent-color;
}
.header-accent-color-2{
    @extend .header-white;
    color:$accent-color-2;
}
.header-success{
    @extend .header-white;
    color: $success-color;
}
.header-danger{
    @extend .header-white;
    color:$danger-color;
}