@import '../mixins';
@import '../variables';

.fa-plus, .fa-minus{
    color:$accent-color;
    background-color: $wrapper-color;
    padding:0.4rem;
    margin-left:0.4rem;
    cursor: pointer;
}
.fa-edit, .fa-trash{
    color:$accent-color;
    margin:0.4rem;
    transition:0.4s;
    cursor: pointer;
    &:hover{
        color:$accent-color-2;
    }
}
.fa-times{
    color:$text-color;
    padding:0.4rem 0.8rem;
    margin:0.4rem;
    cursor: pointer;
}
.feed-nutrition-icon{
    color:$accent-color;
    width:2rem;
    height: 2rem;
}
.fa-truck{
    width:2rem;
    height:2rem;
    color:$accent-color;
}
.ant-checkbox{
    width: 22px;
    height: 22px;
    margin:0rem 1rem;
}
.ant-checkbox-inner{
    width: 22px;
    height: 22px;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $accent-color;
    border-color: $accent-color;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $text-color;
}
.ant-checkbox-checked::after {
    border: 1px solid $accent-color;
}
.ant-checkbox-inner {
    border: 1px solid $text-color;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
    border-color: $accent-color;
}
.ant-radio-checked::after {
    border-color: $accent-color;
}
.ant-radio-inner{
    width:22px;
    height:22px;
    border-color:$text-color;
}
.ant-radio-inner::after{
    width:14px;
    height:14px;
    background-color: $accent-color;
}
.ant-radio-checked .ant-radio-inner {
    border-color: $accent-color;
}
.ant-radio-group{
    @include flex-align(row, space-between, center, wrap);
    width:100%;
}
.ant-select{
    width:100%;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height:3.3rem;
    border:$input-border;
}
.ant-select-single.ant-select-open .ant-select-selection-item {
    color:$text-color;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color:gray;
    box-shadow: $input-box-shadow;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color:gray;
}
.ant-select-item {
    border-radius: 0;
    &:hover{
        background-color: rgba($color: $accent-color, $alpha: 0.2);
    }
}
.ant-select-selection-item{
    font-size: 1.6rem;
}
.ant-select-item-option-content{
    color:$text-color;
    font-size: 1.6rem;
    cursor: pointer;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color: rgba($color: $accent-color, $alpha: 0.2);
}
