@import '../../mixins';
@import '../../variables';

.sign-up{
    @include flexAlign(column, center, center, wrap);

    .sign-up-container{
        @include flexAlign(column, center, center, wrap);
        transform: translateY(calc(50vh - 50% - 6rem)); 
        // -6rem = height of nav bar (div initial position is right bellow nav bar)
    }
    .sign-up-header{
        color:$accent-color;
        font-size: 2.2rem;
        margin: 1rem;
        text-align: center;
    }
    .sign-up-address-description{
        margin-top:1rem;
    }
}