@import '../../mixins';
@import '../../variables';

.modifiers{
    width:100%;
    background-color:rgba(224, 224, 224, 0.4);
    border-radius: 0;
    .modifiers-container{
        padding:0.8rem;
        border-radius: 0;
        @include flex-align(row,space-between,center,wrap);
        width:100%;
    }
    .modifiers-option{
        @include flex-align(row,flex-start,center,nowrap);
        background-color:white;
        padding:0.8rem;
        margin:0.4rem;
        width:48%;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .modifier-option-info{
        @include flex-align(row, space-between, center, wrap);
        width:100%;
    }
    .modifier-option-label{
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            color:$accent-color;
        }
    } 
    
}
@include mobile-range{
    .modifiers{
        .modifiers-option{
            width:100%;
        }
    }
}