@import '../../variables';
@import '../../mixins';

.feed{
    .feed-meals-container{
       @include flex-align(column, center, center, nowrap);
    }
    .feed-filters{
        position: fixed;
        width:max-content;
        height:100vh;
        width:20vw;
        background-color:white;
        padding:1.4rem;
        top:6rem;
        left:0rem;
        border-radius: 0;
    }
    .feed-filters-container{
        margin:1.6rem 0rem;
    }
    .feed-filter-row{
        @include flex-align(row, flex-start, center, nowrap);
        padding:0.4rem 0rem;
    }
    .feed-filters-heading{
        font-size:2rem;
        color:$text-color;
        margin: 0.4rem 0rem;
    }
    .feed-filter-label{
        color:$text-color;
        font-size:1.8rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            color:$accent-color;
        }
    }
    .feed-bottom{
        text-align: center;
    }
    .feed-nutrition-icon{
        color:$success-color;
        width:2rem;
        height: 2rem;
    }
    .fa-truck{
        width:2rem;
        height:2rem;
        color:$success-color;
    }
    .feed-footer-mobile{
        display:none;
        position: fixed;
        z-index: 3;
        width:100vw;
        bottom:0;
        left:0;
        background-color:$accent-color;
        color:white;
        font-size: 1.8rem;
        padding:1rem;
        border-radius: 0;
    }
}
@include mobile-range{
    .feed{
        .feed-meals-container{
            margin:0;
        }
        .feed-filters{
            visibility: hidden;
            position:fixed;
            z-index: 2;
            top:100vh;
            left:0;
            width:100vw;
            transition:0.4s;
        }
        .feed-footer-mobile{
            display:block;
        }
        .feed-bottom{
            margin-bottom:6rem;
        }
    }
}
