@import '../../variables';
@import '../../mixins';

.feed{
    background-color: white;
    .feed-meals-container{
       @include flexAlign(column, center, center, nowrap);
    }
    .feed-filters{
        position: fixed;
        width:max-content;
        height:100vh;
        width:35rem;
        background-color: $wrapper-color;
        padding: 3rem;
        top:5rem;
        left:0rem;
        margin: 1rem 0rem;
    }
    .feed-filters-container{
        padding:0.5rem;
        margin:1rem 0.2rem;
    }
    .feed-filters-nutrition{
        margin:1.2rem 0rem;
    }
    .feed-filters-heading{
        font-size:2rem;
        color:$accent-color;
        margin: 1rem 0rem;
    }
    .feed-bottom{
        text-align: center;
    }
}