@import '../../variables';
@import '../../mixins';

.feed{
    background-color: white;
    .meals-container{
       @include flexAlign(column, center, center, nowrap);
    }
    .meal-filters{
        position: fixed;
        width:max-content;
        height:100vh;
        background-color: $wrapper-color;
        padding: 3rem;
        top:5rem;
        left:0rem;
        margin: 1rem 0rem;
    }
    .meal-filter-tags{
        padding:0.5rem;
        margin:1rem 0.2rem;
    }
    .feed-nutrition-filter{
        margin:1.2rem 0rem;
    }
    .feed-filter-heading{
        font-size:2rem;
        color:$accent-color;
        margin: 1rem 0rem;
    }
    .feed-bottom{
        text-align: center;
    }
    
    .tags-container{
        width:100%;
        @include flexAlign(row, space-between, flex-start, wrap);
    }
}