@import '../../variables';
@import '../../mixins';

.feed{
    .feed-meals-container{
       @include flexAlign(column, center, center, nowrap);
    //    width: 60rem;
    //    margin:auto;
    //    transform: translateX(10vw); //half width of .feed-filters
    }
    .feed-filters{
        position: fixed;
        width:max-content;
        height:100vh;
        width:20vw;
        background-color: $wrapper-color;
        padding:1.4rem;
        top:6rem;
        left:0rem;
        border-radius: 0;
    }
    .feed-filters-container{
        padding:0.5rem;
        margin:1rem 0.2rem;
    }
    .feed-filters-nutrition{
        margin:1.2rem 0rem;
        @include flexAlign(row, flex-start, center, nowrap);
    }
    .feed-filters-nutrition-box{
        @include flexAlign(row, flex-start, center, nowrap);
    }
    .feed-filters-heading{
        font-size:2rem;
        color:$accent-color;
        margin: 1rem 0rem;
    }
    .feed-bottom{
        text-align: center;
    }
    .feed-nutrition-icon{
        color:$success-color;
        width:2rem;
        height: 2rem;
    }
    .fa-truck{
        color:$success-color;
    }
}

// @media (max-width: 1760px){
//     .feed-filters{
//         display: none;
//     }
// }
// @media (max-width: 960px){
//     .feed-filters{
//         display: none;
//     }
// }
@media (max-width: 760px){
   
    .feed{
        .feed-meals-container{
            width: 30rem;
            transform: none;
        }
        .feed-filters{
            display: none;
        }
    }
    
}
// @media (max-width: 560px){
//     .feed-filters{
//         display: none;
//     }
// }
