@import '../../mixins';
@import '../../variables';

.modifiers{
    @include flex-align(row,flex-start,flex-start,wrap);
    .modifiers-container{
        padding:0rem 0.8rem;
        margin-right:2rem;
    }
    .modifier-option-label{
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            color:$accent-color;
        }
    } 
}
@include mobile-range{
    // .modifiers{
    //     .modifiers-container{
    //         width:100vw;
    //     }
    // }
}