@import '../../variables';
@import '../../mixins';

.menu-meals{
    @include flexAlign(row, flex-start, center, wrap);
    width:80%;
    &-meal{
        @include flexAlign(column, flex-end, center, nowrap);
        position: relative; // this is not needed when container is flex, his child with absolute position will position relative to flex container
        background-color: $wrapper-color;
        margin:0.2rem;
        
    }
    &-meal-header{
        width:100%;
        @include flexAlign(row, space-between, center, nowrap);
        padding:0.4rem 0.4rem;
        cursor: pointer;
    }
    &-meal-name{
        color:$accent-color;
        font-size:1.8rem;
    }
    &-meal-price{
        color:$accent-color;
        font-size: 1.8rem;
    }
    &-meal-photo{
        width: 25rem;
        height: 25rem;
        transition: 0.2s;
        cursor: pointer;
    }
    &-hidden-description{
        opacity:0;
        position: absolute;
        @include flexAlign(row,center,center,wrap);
        background-color: rgba($color: $accent-color, $alpha: 0.8);
        width: 25rem;
        height: 25rem;
        text-align: center;
        transition: 0.2s;
        cursor: pointer;
    }
    &-description{
        font-size: 1.8rem;
        color:white;
    }
}
