@import '../../variables';
@import '../../mixins';

.menu-meals{
    @include flex-align(row, flex-start, stretch, wrap);
    margin-left: 22vw;
    .menu-meals-meal{
        @include flex-align(column, flex-start, center, nowrap);
        width:25rem;
        background-color: white;
        margin:0.2rem 0.2rem;
        border-radius: 0;
    }
    .menu-meals-meal-header{
        width:100%;
        @include flex-align(row, space-between, flex-start, nowrap);
        padding:0.4rem 0.4rem;
        cursor: pointer;
    }
    .menu-meals-meal-name{
        width:75%;
        color:$text-color;
        font-size:1.8rem;
        font-weight: bold;
    }
    .menu-meals-meal-price{
        color:$accent-color;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .menu-meals-photo-container{
        position: relative; // hidden description is position relative to this container
        margin-top:auto;
    }
    .menu-meals-meal-photo{
        width: 25rem;
        height: 25rem;
        transition: 0.2s;
        border-radius: 0;
        cursor: pointer;
    }
    .menu-meals-hidden-description{
        opacity:0;
        position: absolute;
        top:0;
        left:0;
        @include flex-align(row,center,center,wrap);
        background-color: rgba($color: black, $alpha: 0.6);
        width: 25rem;
        height: 25rem;
        text-align: center;
        transition: 0.2s;
        border-radius: 0;
        cursor: pointer;
    }
    .menu-meals-description{
        font-size: 1.8rem;
        color:white;
    }
}
@include mobile-range{
    .menu{
        .menu-meals{
            margin:0;
            justify-content: center;
            margin-bottom:5rem; //in order to categories button be visible in mobile footer
        }
        .menu-meals-meal{
            width:48vw;
        }
        .menu-meals-meal-photo{
            width:48vw;
            height:48vw;
        }
        .menu-meals-meal-name{
            font-size: 1.2rem;
        }
        .menu-meals-hidden-description{
            display: none;
        }
        .menu-meals-meal-price{
            font-size: 1.4rem;
        }
    }
}
