@import '../../variables';
@import '../../mixins';

nav{
    background-color:rgba($color:$accent-color-2, $alpha: 0.9);
    height:6rem;
    width:100%;
    border-radius: 0;
    position:sticky;
    z-index: 1;
    top:0;
    left:0;
    @include flexAlign(row, flex-end, center, nowrap);

    .nav-bar-link{
        background-color: inherit;
        color:white;
        margin: 0rem 1rem;
        padding: 1rem;
        font-size: 2rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            color:$accent-color;
        }
    }
    .nav-bar-container{
        display:flex;
        align-items: center;
    }
    .nav-bar-logo{
        position: absolute;
        top:0;
        left:2rem;
        top: 0.8rem;
    }
}