$text-color:#04181a;
$accent-color:#0e8836;
$accent-color-2:#5e3b61;
$wrapper-color: #e7e7e7;
$success-color: #3DB83D;
$danger-color: #e23630;
$tag-color:rgb(38, 154, 184);

$main-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$input-box-shadow: 0 0 0.8rem $accent-color-2;
$input-border: 1px solid rgba(0, 0, 0, 0.3);
$nav-bar-height: 6rem;
$mobile-small-size:360px; 
$mobile-medium-size:576px;
$mobile-large-size:768px; 
$tablet-size:992px;
$small-desktop-size:1200px;