$accent-color:#389497;
$accent-color-2:#19494d;
$accent-color-3:#e99d2b;
$wrapper-color: #e7e7e7;
$success-color: #3DB83D;
$danger-color: #e23630;

$main-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$mobile-small-size:360px; 
$mobile-medium-size:576px;
$mobile-large-size:768px; 
$tablet-size:992px;
$small-desktop-size:1200px;