@import './variables';
@import './mixins';
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-size:10px;
    font-family:$main-font;
    border-radius: 0.8rem;
}
.button-link{
    background-color: transparent;
    color:$accent-color;
    text-decoration: underline;
    margin:1rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    outline:none;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        color:$accent-color-2;
    }
}
.button-normal{
    width:max-content;
    background-color:$accent-color;
    padding:1rem;
    margin:0.6rem;
    color:white;
    font-size: 1.8rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        background-color: $accent-color-2;
    }
}
.button-normal-disabled{
    @extend .button-normal;
    background-color: gray;
    pointer-events: none;
    cursor:none;
}
.button-small{
    @extend .button-normal;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin: 0.2rem;
}
.button-long{
    @extend .button-normal;
    width:100%;
    margin: 1rem 0rem;
}
.wrapper-container{
    background-color:$wrapper-color;
    padding:1rem;
    margin:1rem;
    &-big{
        @extend .wrapper-container;
        width:30rem;
    }
}
.form-container{
    background-color: $wrapper-color;
    padding:3rem;
}
.loader{
    width:8rem;
    height:8rem;
    margin:1rem;
}
.loader-small{
    width:1.5rem;
    height:1.5rem;
    margin:0.2rem;
}
input[type=text], input[type=password], input[type=email]{
    border:1px solid $accent-color;
    width:100%;
    height:3.3rem;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    padding: 0rem 1rem;
    &:focus{
        outline:none;
        box-shadow: 0 0 0.8rem rgba(17, 90, 110, 0.753);
    }
}
input[type=checkbox]{
    height:1.8rem;
    width:1.8rem;
}
input[type=number]{
    @extend input[type=text];
    width:9rem;
}
select, option{
    width:30rem;
    font-size:1.5rem;
    padding:0.8rem;
}
textarea{
    @extend input[type=text];
    height: 7rem;
    padding: 0.4rem 1rem;
    resize: none;
}
.message-danger{
    color:$danger-color;
    font-size:2rem;
    margin:1rem;
}
.input-error{
    color:$danger-color;
    font-size:1.4rem;
}
.message-success{
    color:$success-color;
    font-size:2rem;
    margin:1rem;
}
.label-white{
    font-size:1.8rem;
    color:white;
    margin:0.8rem 0rem;
}
.label-accent-color{
    @extend .label-white;
    color:$accent-color;
}
.label-accent-color-2{
    @extend .label-white;
    color:$accent-color-2;
}
.modal-overlay{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
}
.get-app-icon{
    height:5.3rem;
    width:16rem;
}
.header-white{
    color:white;
    margin: 1rem 1rem;
    font-size: 3rem;
    text-align: center;
}
.header-accent-color{
    @extend .header-white;
    color:$accent-color;
}
.header-accent-color-2{
    @extend .header-white;
    color:$accent-color-2;
}
.modal{
    .modal-container{
        position:fixed;
        background-color: white;
        width:35rem;
        padding:1rem;
        left:50vw;
        top:50vh;
        transform: translate(-50%, -50%);
        opacity:0;
        transition:1.2s;
    }
    .modal-body{
        margin: 2rem 0rem;
    }
    .modal-header{
        margin: 2rem 0rem;
    }
    .modal-x-container{
        @include flexAlign(row,flex-end,center,nowrap);
        .modal-x{
            background-color: $accent-color;
            color:white;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.4rem 0.8rem;
            margin-bottom:0.6rem;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                background-color: $accent-color-2;
            }
        }
    } 
}