@import '../../variables';
@import '../../mixins';

.menu{
    .menu-container{
        margin-top:2rem;
        @include flex-align(row, flex-start, flex-start, wrap);
        // width:100vw;
    }
    .menu-info{
        position: fixed;
        top:6rem;
        left:0;
        z-index: 1;
        background-color:white;
        width:20vw;
        height: 100vh;
        padding-top:2rem;
        margin-right:2rem;
        border-radius: 0;
    }
    .menu-category{
        @include flex-align(row,flex-start,center,wrap);
        color:$accent-color-3;
        margin:1rem 0rem;
        font-size: 2.2rem;
        transition:0.2s;
        cursor: pointer;
        &:hover{
            background-color: $wrapper-color;
        }
    }
    .menu-category-header{
        color:$accent-color;
        margin:0;
        font-size: 2.5rem;
        margin-top:4rem;
    }
    .menu-header{
        padding: 1rem;
        .menu-restaurant-name{
            color:$accent-color;
            font-size: 2.4rem;
        }
        .menu-restaurant-info{
            margin:1.4rem 0rem;
            color:$accent-color;
            font-size: 2rem;
        }
        .menu-restaurant-logo{
            width:8rem;
            height:8rem;
        }
    }
    .menu-message-no-meals{
        margin:auto;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        height:20rem;
        width:max-content;
        font-size:4rem;
        color:$accent-color;
    }
    .menu-restaurant-closed{
        color:$danger-color;
        font-size:3rem;
        margin:1rem 0rem;
    }
    .menu-header-mobile{
        display:none;
        text-align: center;
        width:100vw;
        color:$accent-color;
        font-size:2rem;
        margin-bottom:1rem;
    }
    .menu-footer-mobile{
        display:none;
        position: fixed;
        z-index: 3;
        width:100vw;
        bottom:0;
        left:0;
        background-color:$accent-color;
        color:white;
        font-size: 1.8rem;
        padding:1rem;
        border-radius: 0;
    }
}
@include mobile-range{
    .menu{
        .menu-info{
            visibility: hidden;
            position:fixed;
            z-index: 2;
            top:100vh;
            left:0;
            width:100vw;
            transition:0.4s;
        }
        .menu-header-mobile{
            display: block;
        }
        .menu-footer-mobile{
            display:block;
        }
    }
}
