@import '../../variables';
@import '../../mixins';

.menu{
    .menu-container{
        margin-top:2rem;
        @include flexAlign(row, flex-start, flex-start, nowrap);
        width:100%;
    }
    .menu-categories{
        width:23%;
        background-color:$wrapper-color;
        margin:0.2rem 2rem 0rem 0rem;
    }
    .menu-category{
        color:$accent-color;
        margin:2rem 1rem;
        font-size: 2rem;
    }
    .menu-category-header{
        color:$accent-color;
        margin:2rem 1rem;
        font-size: 2.2rem;
    }
    .menu-header{
        background-color: $accent-color;
        padding: 1rem;
        .menu-restaurant-name{
            color:white;
            font-size: 2.4rem;
        }
        .menu-restaurant-info{
            margin:1.4rem 0rem;
            color:white;
            font-size: 2rem;
        }
        .menu-restaurant-logo{
            width:6rem;
            height:6rem;
        }
    }
    .menu-message-no-meals{
        margin:auto;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        height:20rem;
        width:max-content;
        font-size:4rem;
        color:$accent-color;
    }
}
